%h2{:class => "sitenav-uri"} rakelley.us
%h3{:class => "sitenav-desc"} A Personal Coding Site

%ul{:class => "sitenav-list"}
  %li
    %a{:href => "/", :rel => "home"}
      Home
  %li
    %a{:href => "/about", :rel => "internal"}
      About
  %li
    %a{:href => "/projects", :rel => "internal"}
      Projects
  %li
    %a{:href => "/posts", :rel => "internal"}
      Posts
