.sitenav {
  @extend %clearfix;
  max-width: 600px;
}

.sitenav-uri {
  @extend %heading-three;
  display: inline-block;
  margin-top: 0;
}

.sitenav-desc {
  @extend %heading-six;
  display: inline-block;
  margin-left: $spacer / 2;
  margin-top: 0;
}

.sitenav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  a {
    @extend %button;
    padding: $spacer / 2 $spacer / 8;
    margin-left: $spacer / 8;
    flex: 1;
    @include media-desktop {
      margin-left: $spacer / 4;
    }
  }
}
