//primary text, emphasis backgrounds
$color_first:           rgba(230, 219, 116, 1);
$color_first_accent:    adjust_color($color_first, $lightness: -10%);

//primary backgrounds, emphasis text
$color_second:          rgba(56, 56, 48, 1);
$color_second_accent:   rgba(39, 40, 34, 1);

//buttons, accents
$color_third:           rgba(174, 129, 255, 1);
$color_third_accent:    adjust_color($color_third, $lightness: -10%);

//shadows
$color_shadow:  rgba(34, 34, 34, 1);
