* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  @extend %font-family-sans;
  @extend %font-lineheight-base;
  @extend %font-size-base;
  @extend %font-color-primary;
  margin: 0;
  background-color: $color_second;
}

header {
  @extend %margin-bottom;
  background-color: $color_second_accent;
}

main {
  @extend %margin-bottom;
  @include media-desktop {
    min-height: 800px;
  }
}

footer {
  @extend %margin-bottom;
  background-color: $color_second_accent;
}

