* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  @include media-desktop {
    overflow-y: scroll;
  }
}

body {
  @extend %font-family-sans;
  @extend %font-lineheight-base;
  @extend %font-size-base;
  @extend %font-color-primary;
  margin: 0;
  background-color: $color_monokai_grey;
}

header {
  @extend %margin-bottom;
  background-color: $color_monokai_greydarker;
}

main {
  @extend %margin-bottom;
}

footer {
  @extend %margin-bottom;
  background-color: $color_monokai_greydarker;
}

