%button {
  @extend %font-family-serif;
  display: inline-block;
  text-align: center;
  padding: $spacer / 2 $spacer;
  border: 0;
  font-size: 1.25em;
  cursor: pointer;
  background: $color_monokai_purple;
  color: $color_monokai_yellow;

  &:hover, &:focus {
    background: adjust_color($color_monokai_purple, $lightness: 5%);
    color: adjust_color($color_monokai_yellow, $lightness: 5%);
    box-shadow: 0 0 3px 0 $color_monokai_yellow;
    transition: 0.25s;
  }

  &:active {
    background: adjust_color($color_monokai_purple, $lightness: -5%);
    color: adjust_color($color_monokai_yellow, $lightness: -5%);
  }

  &:visited {
    color: $color_monokai_yellow;
  }
}
