/*********************************** Family ***********************************/
%font-family-sans {
  font-family: $font_sans, sans-serif;
  font-weight: inherit; text-transform: none;
}

%font-family-serif {
  font-family: $font_serif, serif;
  font-weight: bold; text-transform: none;
}

%font-family-mono {
  font-family: $font_mono, monospace;
  font-weight: medium; text-transform: none;
}


/*********************************** Color ************************************/
%font-color-primary {
  color: $color_monokai_yellow;
}

%font-color-secondary {
  color: $color_monokai_magenta;
}

%font-color-headings {
  color: $color_monokai_green;
}

%font-color-links {
  color: $color_monokai_purple;
}
%font-color-links-accent {
  color: adjust_color($color_monokai_purple, $lightness: -10%);
}


/************************************ Size ************************************/
%font-size-base {
  font-size: $fontsize_base;
}

%font-size-small {
  font-size: 80%;
}

%font-size-big {
  font-size: 120%;
}
%font-size-bigger {
  font-size: 140%;
}


/*********************************** Height ***********************************/
%font-lineheight-base {
  line-height: $lineheight_base;
}

%font-lineheight-heading {
  line-height: $lineheight_heading;
}
